@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bgGradient: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    linear-gradient(180deg, rgba(0, 24, 38, 0.75) 0%, rgba(0, 37, 49, 0) 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .responsive {
    @apply mx-auto py-14 md:py-16 xl:py-[104px] px-5 md:px-8 xl:px-6 sm:w-[480px] md:w-[768px] xl:w-[1280px];
  }

  .heading {
    @apply text-[40px] md:text-[67px] xl:text-[98px] font-thin uppercase leading-[56px] md:leading-none;
  }

  .text {
    @apply text-[14px] md:text-[16px] xl:text-[18px] font-extralight leading-[20px] xl:leading-[24px];
  }

  .text2 {
    @apply text-[14px] md:text-[13px] xl:text-[18px] font-extralight leading-[20px] xl:leading-[24px];
  }
}
